<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign-up</title>
    <link rel="stylesheet" href="/login-page/style.css">
</head>
<body>
    <div class="container">
        <div class="center-container">
            <div class="login-card">
                <div class="login-card-head">
                    <h2>Sign in to your account</h2>
                    <p>Enter your email and password to access the notice board</p>
                </div>
                <div class="login-card-body">
                    <form method="post"  action="/login">
                        <label for="loginemail">Email address</label><br>
                        <input type="text" id="loginemail" name="email" placeholder="Enter your email"><br>
                        <label for="passsword">Enter password</label><br>
                        <input type="password" name="password" id="password" placeholder="Enter your password"><br>
                        <button>Sign in</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>